---
layout: home
title : Alfian Tinangon
---


<div class="grid-100 top">
  <div class="jumbotron" data-stellar-background-ratio="0.5">
    <div class="avatar">
      <span class="social-icon">
        {% for social in site.data.personal %}<a href="{{ social.facebook }}"><i class="fa fa-facebook"></i></a>{% endfor %}
      </span>
      <div class="avatar-img">
        <img src="{% for personal in site.data.personal %}{{ personal.avatar }}{% endfor %}" alt="">
      </div>
      <span class="social-icon">
         {% for social in site.data.personal %}<a href="{{social.twitter}}"><i class="fa fa-twitter"></i></a>{% endfor %}
      </span>
    </div>
    <div class="title">
      <h3>{% for personal in site.data.personal %}{{ personal.title }}{% endfor %}</h3>
      <p>{% for personal in site.data.personal %}{{ personal.description }}{% endfor %}</p>
    </div>
  </div>
</div>
<div class="grid-100 works ">
  <div class="section-title">
    <h3>SKILL</h3>
  </div>
  <div class="grid-70 tablet-grid-90 works-list">
  {% for work in site.data.works %}
    <div class="grid-33 tablet-grid-33 work-item">
      <div class="icon">
        <i class="fa {{ work.icon }}"></i>
      </div>
      <div class="works-title">
        {{ work.title }}
      </div>
    </div>
  {% endfor %}

    
  </div>

  <a href="#" class="general-btn">View All Works</a>
</div>

<div class="grid-100 contact">
  <div class="section-title">
    <h3>CONTACT ME</h3>
  </div>
  <div class="contact-content">
    <a href="mailto:alfian.tinangon@gmail.com?Subject=Hello"><i class="fa fa-envelope"></i></a>
    <h2>alfian.tinangon[at]gmail.com</h2>
  </div>
</div>

